.img {
  width: 400px;
  height: 400px;
}
.about {
  margin-top: 100px;
  gap: 50px;
  padding: 20px;
  border: 1px solid rgb(161, 130, 130);
}
.txt-product {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  h1 {
    color: brown;
  }
}
.icon{
    font-size: 32px;
}
.count{
    font-size: 25px;
    display: inline-block;
}
.addbtn{
    background-color: brown;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
}